<!DOCTYPE html>
<html>
	<head>
		<title>Welcome to Symfony!</title>
	</head>
	<body>
		<a href="/results">
			<button>view all results</button>
		</a>
		<table>
			<thead>
				<th>
					paper plane model</th>
				<th>
					travelled distance</th>
				<th>
					flight duration</th>
				<th>
					participant name</th>
				<th>
					date</th>
			</thead>
			{% if number == 1 %}
				<tr>
					<td>slim</td>
					<td>500miles</td>
					<td>10min</td>
					<td>mafogger</td>
					<td>me?</td>
				</tr>
			{% endif %}
			{% if number == 2 %}
				<tr>
					<td>thick</td>
					<td>10miles</td>
					<td>2h</td>
					<td>twigger</td>
					<td>me?</td>
				</tr>
			{% endif %}
			{% if number == 3 %}
				<tr>
					<td>slim</td>
					<td>1000000000000000000miles</td>
					<td>1h</td>
					<td>overkill</td>
					<td>me?</td>
				</tr>
			{% endif %}
		</table>

	</body>
</html>
