<!DOCTYPE html>
<html>
	<head>
		<title>Welcome to Symfony!</title>
		<link rel="stylesheet" href="{{ asset('stylesheet.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ asset('main.css') }}">
	</head>
	<body>
		<header class="half">
			<h1>{% trans %}
				Paperplane Tournament Tracker
				{% endtrans %}</h1><br>
		</header>

		<script src="{{ asset('script.js') }}" defer></script>
		<footer class="half">
			<div class="limiter">
				<div class="container-table100">
					<div class="wrap-table100">
						<div class="table100">
							<a href="{{ path('homepage') }}">
								<button class="specialBtn">
									{% trans %}
									view whole tournament
									{% endtrans %}</button>
							</a>
							<br><br>
							<table>
								<thead>
									<th>
										{% trans %}
										paper plane model
										{% endtrans %}</th>
									<th>
										{% trans %}
										travelled distance
										{% endtrans %}</th>
									<th>
										{% trans %}
										flight duration
										{% endtrans %}</th>
									<th>
										{% trans %}
										participant name
										{% endtrans %}</th>
									<th>
										{% trans %}
										Date
										{% endtrans %}</th>
								</thead>
								{% if number == 1 %}
									<tr>
										<td>slim</td>
										<td>6miles</td>
										<td>1min59s</td>
										<td>mafogger</td>
										<td>10.02.2021</td>
									</tr>
									<tr>
										<td>
											<b>thick</b>
										</td>
										<td>
											<b>10miles</b>
										</td>
										<td>
											<b>2min30s</b>
										</td>
										<td>
											<b>twigger</b>
										</td>
										<td>
											<b>20.02.2021</b>
										</td>
									</tr>
									<tr>
										<td>thick</td>
										<td>5miles</td>
										<td>2min15s</td>
										<td>overkill</td>
										<td>04.04.2021</td>
									</tr>
								{% endif %}
								{% if number == 2 %}
									<tr>
										<td>slim</td>
										<td>2miles</td>
										<td>30s</td>
										<td>mafogger</td>
										<td>05.12.2021</td>
									</tr>
									<tr>
										<td>
											<b>thick</b>
										</td>
										<td>
											<b>12</b>
										</td>
										<td>
											<b>2min09s</b>
										</td>
										<td>
											<b>twigger</b>
										</td>
										<td>
											<b>08.08.2021</b>
										</td>
									</tr>
									<tr>
										<td>thick</td>
										<td>6miles</td>
										<td>1min40s</td>
										<td>overkill</td>
										<td>10.11.2021</td>
									</tr>
								{% endif %}
								{% if number == 3 %}
									<tr>
										<td>
											<b>slim</b>
										</td>
										<td>
											<b>15miles</b>
										</td>
										<td>
											<b>2min01s</b>
										</td>
										<td>
											<b>symfonius</b>
										</td>
										<td>
											<b>07.01.2021</b>
										</td>
									</tr>
									<tr>
										<td>thick</td>
										<td>10miles</td>
										<td>2min30s</td>
										<td>twigger</td>
										<td>11.11.2021</td>
									</tr>
									<tr>
										<td>thick</td>
										<td>5miles</td>
										<td>2min15s</td>
										<td>overkill</td>
										<td>01.03.2021</td>
									</tr>
								{% endif %}
							</table>
						</footer>

					</div>
				</div>
			</div>
		</div>

	</body>
</html>
